main {
    flex: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
        
}

.main_info {
    width: 100%;
    max-width: 570px;
}

.main_info p {
    font-size: 18px;
    margin: 20px 0 28px;
}

.main_info div {
    display: flex;
    column-gap: 16px;
}

.main_info div a {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
}

#btn1 {
    background: var(--red);
}

#btn2 {
    background: transparent;
    border: 4px solid var(--yellow);
}

